@import "tailwindcss";
@config "../tailwind.config.ts";
@import "primereact/resources/themes/lara-light-cyan/theme.css";

.opacity-1 {
  opacity: 100%;
}

body,
html {
  background: #f5dedf;
  color: #333;
  font-family: "Playfair Display", serif;
}


.p-inputtext:enabled:focus, .p-dropdown:not(.p-disabled).p-focus {
  border-color: #F5DEDF;
  box-shadow: 0 0 0 .2rem #F5DEDF;
}

.p-inputtext:hover, .p-dropdown.p-variant-filled:not(.p-disabled):hover, .p-radiobutton:not(.p-disabled):has(.p-radiobutton-input:hover) .p-radiobutton-box {
  border-color: #F5DEDF;
}

.p-calendar:not(.p-calendar-disabled).p-focus>.p-inputtext {
  border-color: #F5DEDF;
  box-shadow: 0 0 0 .2rem #F5DEDF;
}

.p-radiobutton.p-highlight .p-radiobutton-box {
  background: #f5dedf;
  border-color: #F5DEDF;
}